*{
    box-sizing: border-box;
}

/* HEADER STYLING */ 

html{
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: lighter;
}


.hero-section{
    font-family: 'Helvetica';
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;

}

.brand{
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 0px;
}

/* CALCULATOR STYLING */ 

.main-section{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.calculator-background{
    border-radius: 10px;
    background-color: #1c1c1c;
    width: 320px;
    height: 600px;
}


.calc-text-area{
    height: 200px;
    font-size: 55px;
    font-weight: lighter;
    
    display: flex;
    color: #fff;

    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
  
}

.calc-body{
    height: 400px;
    padding: 10px 10px;
}

.row{
    display: flex;
    justify-content: space-between;
}


/* BUTTON STYLINGS */

.btn{
    margin-top: 10px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border-style: none;

    font-size: 30px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* STYLING INDIVIDUAL ROWS */

.buttons-row-5 .btn-number{
    width: 220px;
    border-radius: 50px;
}

.AC{
    width: 140px;
    border-radius: 50px;
}

/* BUTTON SPECIAL */

.btn-special{
    color: #000;
    background-color: #d4d4d2;
}

.btn-special:hover{
    background-color: #f3f3f1;
}

.btn-special:active{
    background-color: #d4d4d293;
}

/* BUTTON OPERATIONS */

.btn-operations{
    background-color: #ff9500;
}

.btn-operations:hover{
    background-color: #f1b259;
}

.btn-operations:active{
    background-color: #d48312;
}

/* BUTTON SPECIAL */

.btn-number{
    background-color: #505050; 
}

.btn-number:hover{
    background-color: #808080;       
}

.btn-number:active{
    background-color: #3f3e3e; 
}